a {
    color: ##007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
      overflow-y: auto; /* Allows scrolling */
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin-bottom: 20px; /* Space between containers */
}

/* Add padding above the first container only */
.container:first-of-type {
    margin-top: 40px; /* Adjust as needed */
}

button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
}

button:hover {
      background-color: #45a049;
}

.scroll-container {
      max-width: 100%;
      width: 100%;
      overflow-x: auto;
      white-space: normal;
}

.info-table {
      margin-top: 20px;
      width: 100%;
      max-width: 400px;
      border-collapse: collapse;
}

.info-table th, .info-table td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
}

.info-table th {
      background-color: #f0f0f0;
}

.info-table td.right-aligned {
      text-align: right;
}

blockquote {
    border-left: 4px solid #ddd;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
}

.sub-text {
    font-size: 0.8em;
    color: #666;
}

.new-text {
    color: #ff0000;
}

.announcement-container {
  border: 2px solid #b8860b; /* Dark yellow outline */
  background-color: #fffacd; /* Light yellow background */
  margin-top: 15px;
  max-width: 400px;
  width: 90%;
  margin-bottom: 20px; /* Space between containers */
  border-radius: 8px;
  text-align: center;
  padding: 15px; /* Add padding for better spacing */
  display: inline-block; /* Use inline-block to auto-scale height */
}

.link {
    color: ##007bff;
}

.container,
.scroll-container {
    text-align: left !important; /* Forces left justification */
}
